{erl_opts, [debug_info,
	    %%warnings_as_errors,
	    {i, "./include"}]}.

{deps, [
    {erl_leveldb, ".*", {git, "https://github.com/pundunlabs/erl_leveldb.git",{tag, "v1.0.0"}}},
    {sext, ".*", {git, "https://github.com/pundunlabs/sext.git",{tag, "1.4.0"}}},
    {gb_reg, ".*", {git, "https://github.com/pundunlabs/gb_reg.git",{tag, "v1.0.0"}}},
    {gb_conf, ".*", {git, "https://github.com/pundunlabs/gb_conf.git",{tag, "v1.0.0"}}},
    {gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{tag, "v1.0.0"}}},
    {gb_hash, ".*", {git, "https://github.com/pundunlabs/gb_hash.git",{tag, "v1.0.0"}}}
    ]}.

{eunit_opts, [verbose]}.

