{erl_opts, [debug_info,
	    %%warnings_as_errors,
	    {i, "./include"}]}.

{deps, [
    {erl_rocksdb, ".*", {git, "https://github.com/pundunlabs/erl_rocksdb.git",{branch, "master"}}},
    {sext, ".*", {git, "https://github.com/pundunlabs/sext.git",{tag, "1.4.0"}}},
    {gb_reg, ".*", {git, "https://github.com/pundunlabs/gb_reg.git",{tag, "v1.0.0"}}},
    {gb_conf, ".*", {git, "https://github.com/pundunlabs/gb_conf.git",{tag, "v1.0.0"}}},
    {gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{tag, "v1.0.0"}}},
    {gb_hash, ".*", {git, "https://github.com/pundunlabs/gb_hash.git",{tag, "v1.0.0"}}},
    {term_prep, ".*", {git, "https://github.com/pundunlabs/term_prep.git",{branch, "master"}}}
    ]}.

{eunit_opts, [verbose]}.

{plugins, [pc]}.
{artifacts, ["priv/enterdb_utils.so"]}.

{provider_hooks,
 [
  {pre,
   [
    {erlc_compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.


{port_specs, [{"priv/enterdb_utils.so", ["c_src/enterdb_utils.cpp"]}]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Wall -g -O3 -fPIC"},
    {"CXXFLAGS", "$CXXFLAGS -Wall -g -O3 -fPIC -std=c++11"},
    {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I./c_src"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -lstdc++"}
    ]}.
