{erl_opts, [{src_dirs, ["src", "test"]},
	    debug_info,
	    %%warnings_as_errors,
	    {i, "./include"}]}.

{deps, [
    {erl_leveldb, ".*", {git, "https://github.com/pundunlabs/erl_leveldb.git",{branch, "master"}}},
    {sext, ".*", {git, "https://github.com/pundunlabs/sext.git",{tag, "1.4.0"}}},
    {gb_reg, ".*", {git, "https://github.com/pundunlabs/gb_reg.git",{branch, "master"}}},
    {gb_conf, ".*", {git, "https://github.com/pundunlabs/gb_conf.git",{branch, "master"}}},
    {gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{branch, "master"}}},
    {gb_hash, ".*", {git, "https://github.com/pundunlabs/gb_hash.git",{branch, "master"}}}
    ]}.

{eunit_opts, [verbose]}.

